* {
    padding: 0;
    margin: 0;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    margin-bottom: 0px;
}

.custom-container {
    margin: auto 100px;
}

.custom-container .nav-logo {
    margin-top: 60px;
}


/* banner part css  */
.banner {
    margin-top: 108px;
}

.banner-text-container {
    width: 724px;
}

.banner-text-container h3 {
    font-size: 4.16vw;
    font-weight: 600;
    color: #4C577C;
    line-height: 120%;
}
.mobile-break{
    display: none;
}

.banner-text-container .banner-p {
    font-size: 20px;
    color: #4C577C;
    margin-top: 25px;
    margin-right: 90px;
    line-height: 120%;
}

.banner-text-container .buttons {
    margin-top: 125px;
}

.banner-text-container .buttons button {
    border-radius: 12px;
    border: 1px solid #4C577C;
    width: 204px;
    height: 64px;
    gap:.83vw;
}

.banner-text-container .buttons button p {
    margin: 0px;
    color: #4C577C;
}

.banner-text-container .buttons button p span:first-child {
    font-size: 12px;
    white-space: nowrap;
    font-family: Arial;
}

.banner-text-container .buttons button p span:nth-child(2) {
    font-size: 16px;
    font-weight: 600;
    font-family: Arial;
}

/* citi-details part details  */

.citi-detials {
    width: 601px;
    margin-left: 65px;
}
.citi-cafe, .designer-citi{
    margin-top: 24px;
}

.citi-pay,
.citi-cafe,
.citi-mart,
.designer-citi {
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 13px;
}

.overlay {
    position: absolute;
    background-color: white;
    overflow: hidden;
    transition: .5s ease;
    border-radius: 12px;
}

.text {
    font-size: 20px;
    position: absolute;
    top: 60%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.hover-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.citi-pay-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    height: 100%;
}

.citi-cafe-overlay {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
}

.citi-mart-overlay {
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
}

.designer-citi-overlay {
    bottom: 0;
    left: 100%;
    right: 0;
    width: 0;
    height: 100%;
}

.citi-pay-text {
    color: #26BC4B;
}

.citi-cafe-text {
    color: #FDC500;
}

.citi-mart-text {
    color: #FF0000;
}

.designer-citi-text {
    color: #7371FC;
}

.citi-pay:hover .citi-pay-overlay {
    width: 100%;
    border: 2px solid rgba(112, 128, 176, 0.103);
    cursor: pointer;
}

.citi-cafe:hover .citi-cafe-overlay {
    height: 100%;
    border: 2px solid rgba(112, 128, 176, 0.103);
    cursor: pointer;
}

.citi-mart:hover .citi-mart-overlay {
    bottom: 0;
    height: 100%;
    border: 2px solid rgba(112, 128, 176, 0.103);
    cursor: pointer;
}

.designer-citi:hover .designer-citi-overlay {
    width: 100%;
    left: 0;
    border: 2px solid rgba(112, 128, 176, 0.103);
    cursor: pointer;
}


/* footer  */
footer h4 {
    color: #474C5A;
    position: absolute;
    bottom: 0px;
    font-size: 16px;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
    padding: 5px 0px;
}

@media (min-width: 320px) and (max-width:576px) {

    .custom-container .nav-logo {
        margin-top: 7.3vw;
    }
    .nav-logo svg{
        width: 75px;
    }

    .nav-logo {
        display: flex;
        justify-content: center;
    }

    .custom-container {
        margin: auto 12px;
    }

    .banner {
        margin-top: 4.6vw;
    }

    .banner-text-container {
        width: 100%;
    }

    .banner-text-container h3 {
        text-align: center;
        font-size: 6.25vw;
    }

    .mobile-break{
        display: block;
    }

    .banner-text-container .banner-p {
        font-size: 3.12vw;
        margin-top: 8px;
        margin-right: 0px;
        line-height: 120%;
        text-align: center;
        padding: 0% 5%;
    }

    .banner-text-container .buttons {
        margin-top: 7.5vw;
        justify-content: center;
    }

    .banner-text-container .buttons button {
        height: 9.87vw;
        width: 31.65vw;
        border-radius: 1.83vw;
        gap: 2.43vw;
    }
    .banner-text-container .buttons button svg{
        width: 4.06vw;
    }

    .banner-text-container .buttons button p span:first-child {
        font-size: 1.87vw;
    }

    .banner-text-container .buttons button p span:nth-child(2) {
        font-size: 2.5vw;
    }

    .citi-detials {
        width: 100%;
        margin-left: 0px;
        margin-top: 7.5vw;
    }

    .hover-part {
        gap: 2.2vw;
    }
    .hover-part svg{
        width: 19.32vw;
        height: 7.5vw;
    }
    .hover-part span{
        font-size: 2.50vw;
    }
    .hover-part span svg{
       width: 3.75vw; 
       height: 3.75vw;
    }
    .designer-citi-text .hover-part .desinger-citi-svg{
        width:31.25vw;
    }

    .overlay{
        border: 1px solid rgba(112, 128, 176, 0.103);
    }

    .citi-pay-overlay {
        width: 100%;
    }
    .citi-cafe-overlay {
        height: 100%;
    }
    .citi-mart-overlay {
        bottom: 0;
        height: 100%;
    }
    
    .designer-citi-overlay {
        left:0;
        width: 100%;
    }

    .citi-detials .row {
        --bs-gutter-x: 3.2vw;
    }
    .citi-cafe, .designer-citi{
        margin-top:  3.2vw;
    }

    footer h4 {
        font-size: 3.125vw;
        color: #474C5A;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        padding: 5px 0px;
    }
}

@media (min-width: 577px) and (max-width:767px){
    .custom-container .nav-logo {
        margin-top: 7.3vw;
    }
    .nav-logo svg{
        width: 75px;
    }

    .nav-logo {
        display: flex;
        justify-content: center;
    }

    .custom-container {
        margin: auto 12px;
    }

    .banner {
        margin-top: 4.6vw;
    }

    .banner-text-container {
        width: 100%;
    }

    .banner-text-container h3 {
        text-align: center;
        font-size: 6.25vw;
    }

    .mobile-break{
        display: block;
    }

    .banner-text-container .banner-p {
        font-size: 3.12vw;
        margin-top: 8px;
        margin-right: 0px;
        line-height: 120%;
        text-align: center;
        padding: 0% 5%;
    }

    .banner-text-container .buttons {
        margin-top: 7.5vw;
        justify-content: center;
    }

    .banner-text-container .buttons button {
        height: 9.87vw;
        width: 31.65vw;
        border-radius: 1.83vw;
        gap: 2.43vw;
    }
    .banner-text-container .buttons button svg{
        width: 4.06vw;
    }

    .banner-text-container .buttons button p span:first-child {
        font-size: 1.87vw;
    }

    .banner-text-container .buttons button p span:nth-child(2) {
        font-size: 2.5vw;
    }

    .citi-detials {
        width: 100%;
        margin-left: 0px;
        margin-top: 7.5vw;
    }

    .hover-part {
        gap: 2.2vw;
    }
    .hover-part svg{
        width: 19.32vw;
        height: 7.5vw;
    }
    .hover-part span{
        font-size: 2.50vw;
    }
    .hover-part span svg{
       width: 3.75vw; 
       height: 3.75vw;
    }
    .designer-citi-text .hover-part .desinger-citi-svg{
        width:31.25vw;
    }

    .overlay{
        border: 1px solid rgba(112, 128, 176, 0.103);
    }

    .citi-pay-overlay {
        width: 100%;
    }
    .citi-cafe-overlay {
        height: 100%;
    }
    .citi-mart-overlay {
        bottom: 0;
        height: 100%;
    }
    
    .designer-citi-overlay {
        left:0;
        width: 100%;
    }

    .citi-detials .row {
        --bs-gutter-x: 3.2vw;
    }
    .citi-cafe, .designer-citi{
        margin-top:  3.2vw;
    }

    
}

@media (min-width: 768px) and (max-width:991px){
    .banner {
        margin-top: 60px;
    }
    .banner-text-container {
        width: 100%;
    }
    overlay{
        border: 1px solid rgba(112, 128, 176, 0.103);
    }
    .overlay{
        border: 1px solid rgba(112, 128, 176, 0.103);
    }

    .citi-pay-overlay {
        width: 100%;
    }
    .citi-cafe-overlay {
        height: 100%;
    }
    .citi-mart-overlay {
        bottom: 0;
        height: 100%;
    }
    
    .designer-citi-overlay {
        left:0;
        width: 100%;
    }

    .banner-text-container .banner-p {
        font-size: 18px;
        margin-right: 0px;
        line-height: 120%;
    }
    .banner-text-container .buttons {
        margin-top: 23px;
    }
    .citi-detials {
        width: 100%;
        margin-left: 0px;
        margin-top: 60px;
    }
}
@media (min-width: 992px) and (max-width:1199px){
    .banner-text-container .buttons {
        margin-top: 7.5vw;
    }
    .overlay{
        border: 1px solid rgba(112, 128, 176, 0.103);
    }

    .citi-pay-overlay {
        width: 100%;
    }
    .citi-cafe-overlay {
        height: 100%;
    }
    .citi-mart-overlay {
        bottom: 0;
        height: 100%;
    }
    
    .designer-citi-overlay {
        left:0;
        width: 100%;
    }

    .banner {
        margin-top: 60px;
    }
    .banner-text-container {
        width: 100%;
    }
    .citi-detials {
        width: 100%;
        margin-left: 0px;
        margin-top: 60px;
    }
}
@media (min-width: 1200px) and (max-width:1399px){

    .banner {
        margin-top: 60px;
    }
    .banner-text-container {
        width: 100%;
    }
    /* .banner-text-container h3 {
        font-size: 60px;
        line-height: 120%;
    } */
    .banner-text-container .banner-p {
        font-size: 18px;
        margin-right: 0px;
        line-height: 120%;
        width: 90%;
    }
    .citi-detials {
        width: 100%;
        margin-left: 0px;
    }
}